ul.posts
  each post in page.posts.toArray()
    li.post
      header
        h2.title
          a(href=url_for(post.path))= post.title
      if post.summary
        .summary= post.summary

          
          