footer
  min-height: 80px
  text-align: center;
  padding: 32px 0
  background-color: bg-color
  color: font-secondary-color
  a,a.active, a.link, a.visited
    color: #3498DB
    text-decoration: underline
  
  display: flex
  justify-content: center
  flex-direction: column

  
  section.links
    font-size: 14px
    line-height: 1.5
    display: flex
    flex-direction: row
    align-items: center;
    justify-content: center
    a + a
      margin-left: 8px

  section.copyright
    font-size: 14px
    margin-top: 24px