@import "variables.styl"

//选中文字的颜色
::-moz-selection,  { /* Code for Firefox */
  color: font-color-selected
  background-color: font-bg-color-selected
  text-decoration: none
}

::selection {
  color: font-color-selected
  background-color: font-bg-color-selected
  text-decoration: none
}

strong, b
  font-weight: normal
  color: accent-color
  background-color: font-bg-color-highlight
  padding: 0 0.5em
  font-weight: bold

h1,h2,h3,h4,h5,h6
  color: font-primary-color
  font-weight: bold

body 
  background-color: font-bg-color
  color: font-primary-color
  font-weight: thin

// 头部导航
nav
  text-align: center
  max-width: pc-width
  margin: 0 auto
  border-bottom: 1px solid #ECF0F1
  font-size: 16px
  line-height: 4
  a,a.active, a.link, a.visited
    color: font-primary-color
    text-decoration: none
    padding: 0 2em
    font-weight: lighter
    transition: font-weight 200ms ease-out
    &:hover, &:focus
      font-weight: bold
      color: accent-color

section.body
  min-height: calc(100vh - 72px - 80px)
  max-width: 800px
  margin: 40px auto 0
  font-size: 14px
  line-height: 1.5

footer
  min-height: 80px
  text-align: center;
  padding: 32px
  background-color: bg-color
  color: font-secondary-color
  a,a.active, a.link, a.visited
    color: #3498DB
    text-decoration: underline
  
  display: flex
  justify-content: center

  section.copyright
    font-size: 14px
  section.links
    font-size: 14px
    margin-left: 30px

// 首页文章列表
ul.posts
  a,a.active, a.link, a.visited
    color: font-primary-color
    text-decoration: none
  a:hover, a:focus
    color: accent-color
  li
    list-style: none
    font-size: 14px
    margin: 0 auto
    header
      padding: 2em 2em 1em
      h1 
        font-size: 32px
        margin: 1em 0 0.5em
        a
          text-decoration: none
      div.metadata
        font-size: 12px
        color: font-secondary-color

// 归档文章
ol.archive-years
  a,a.active, a.link, a.visited
    color: font-primary-color
    text-decoration: none
    &:hover, &:focus
      color: accent-color
  li
    h1
      font-size: 18px
      border-left: 0.4em solid #2c3e50
      padding-left: 1em
      &:hover
        border-color: accent-color
    ol
      font-size: 14px
      text-indent: 2em
      li
        line-height: 2
        span
          color: font-secondary-color
          font-family: Consolas, Monaco, monospace
          user-select: none
        span + a
          font-weight: normal
          color: font-primary-color
          margin-left: 1em

// 文章(Post，about，projects)内容页
article 
  background-color: #fff
  width: pc-width
  font-size: 14px
  margin: 0 auto

  //链接的颜色
  a,a.active, a.link, a.visited
    color: accent-color
    background-color: font-bg-color-highlight
    padding: 0 0.2em
  h1,h2,h3,h4,h5,h6
      a,a.active, a.link, a.visited
        color: unset
        background-color: unset
        padding: unset

  header
    border-bottom: 1px solid grey-color
    padding: 2em 2em 1em;
    h1
      font-size: 32px
      margin: 1em 0 0.5em
      a
        text-decoration: none
    div.metadata
      font-size: 12px
      color: font-secondary-color

  main
    padding: 2em

 

