@import "variables.styl"
@import "icons.styl"

@import "footer.styl"

//选中文字的颜色
::-moz-selection,  { /* Code for Firefox */
  color: font-color-selected
  background-color: font-bg-color-selected
  text-decoration: none
}

::selection {
  color: font-color-selected
  background-color: font-bg-color-selected
  text-decoration: none
}

strong, b
  font-weight: normal
  color: accent-color
  background-color: font-bg-color-highlight
  padding: 0 0.5em
  font-weight: bold

h1,h2,h3,h4,h5,h6
  color: font-primary-color
  font-weight: bold

body 
  background-color: font-bg-color
  color: font-primary-color
  font-weight: thin

picture, img, svg, video, obj, canvas
  max-width: 100%

picture, img
  border-radius: 4px
  margin: 16px auto
  box-shadow: 0 0 2px grey-color

section.body
  min-height: 100vh
  max-width: 800px
  margin: 40px auto
  font-size: 14px
  line-height: 1.5

  @media all and (max-width: 750px)
    max-width: 100vw 
    margin: 100px auto 40px

// 首页文章列表
ul.posts
  padding: 0 16px
  a,a.active, a.link, a.visited
    color: font-primary-color
    text-decoration: none
  a:hover, a:focus
    color: accent-color
  li
    list-style: none
    margin: 0 auto
    padding: 20px 0

    header
      .title
        margin: 0 
        font-size: font-size-sm
        line-height: 2
        a
          text-decoration: none
    div.summary
      font-size: font-size-xs
      color: font-primary-color
      font-weight: lighter

// 归档文章
ol.archive-years
  padding: 0 16px
  a,a.active, a.link, a.visited
    color: font-primary-color
    text-decoration: none
    &:hover, &:focus
      color: accent-color
  li
    h1
      font-size: font-size-md
      border-left: 0.4em solid secondary-color
      padding-left: 1em
    ol
      font-size: font-size-xs
      text-indent: 2em
      li
        line-height: 2
        span
          color: font-secondary-color
          font-family: Consolas, Monaco, monospace
          user-select: none
        span + a
          font-weight: normal
          color: font-primary-color
          margin-left: 1em

// 文章(Post，about，projects)内容页
article 
  background-color: #fff
  font-size: 14px
  padding: 0 16px

  //链接的颜色
  a,a.active, a.link, a.visited
    color: accent-color
    background-color: font-bg-color-highlight
    padding: 0 0.2em
  h1,h2,h3,h4,h5,h6
      a,a.active, a.link, a.visited
        color: unset
        background-color: unset
        padding: unset

  header
    border-bottom: 1px solid grey-color
    padding: 2em 0 1em;
    h1
      font-size: font-size-lg
      margin: 1em 0 0.1em
      a
        text-decoration: none
    h2
      font-size: font-size-sm
    div.metadata
      font-size: 12px
      color: font-secondary-color
  main
    .summary, blockquote
      font-size: font-size-sm
      color: font-primary-color
      font-weight: 400
      line-height: 2
      padding-left: 24px
      border-left: 8px solid primary-color
      margin: 2em 0
    p,div,section,td,dt
      line-height: 1.8
      margin: 0
      padding: 1em 0
    br
      height: 14px

 

