// Colors
primary-color=#2C3E50
accent-color=#E74C3C
secondary-color=#9b59b6
grey-color=#95a5a6

font-primary-color=primary-color
font-secondary-color=#7F8C8D
font-bg-color=#fff
font-bg-color-highlight=#ECF0F1
font-color-selected=#ECF0F1
font-bg-color-selected=accent-color

bg-color=#ECF0F1
// Fonts size
font-size-lg=32px
font-size-md=24px
font-size-sm=16px
font-size-xs=14px
// Width
pc-width=700px
