
footer
  
  section.links 
    a(href=config.feed.path) 
      span.icon(name='rss')
    a(href=config.homes.github) 
      span.icon(name='github')
    a(href='https://hexo.io') Hexo
    
  section.copyright © 2019 !{config.author}